html {
  /* background-color: #252525; */
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  color: #252525;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: #6d28d4;
}

/* estilos de la barra de navegación*/
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

/* Modo oscuro */
html.dark {
  background-color: #252525;
}

html.dark * {
  color: #ffffff;
}

.dark button {
  background: #1d1d1d;
}

/* estilos de la barra de navegación*/

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #d1d1d1;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  color: #6d28d4;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background ease 0.4s, text-shadow ease 0.4s;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #131313;
  text-shadow: 0 0 3px #6d28d4;
}

.expanded {
  display: unset;
}

@media (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
