---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - Acerca de mí</title>
	</head>
	<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog">Blog</a>

		<h1>Mi sitio Astro</h1>
    <h2>Acerca de mí</h2>
    <p>
      Aspirante a desarrollador freelance frontend y estudiante universitario de ingeniería 
      informática. Este es mi primer sitio web hecho con  el framework Astro, ¡Bienvenido!
    </p>
    <p>
      Estoy trabajando con el tutorial introductorio de Astro. Esta es la segunda página de mi sitio 
      web, ¡Es la primera página construida "completamente" por mí mismo!
    </p>

    <h3>Mis habilidades</h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Tailwind CSS</li>
      <li>Javascript</li>
      <li>Node.js</li>
      <li>Astro</li>
      <li>Git y Github</li>
      <li>Java</li>
    </ul>

    <p>
      Este sitio web se irá actualizando a medida que vaya completando la lecciones del curso 
      introductorio de Astro, por favor, ¡No dejes de visitarlo para ver como va mi viaje como 
      desarrollador web frontend!
    </p>
	</body>
</html>