---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Mi blog de aprendizaje de Astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Bienvenido a esta aventura como desarrollador Astro</h2>
	<p>¡En esta página publicaré actualizaciones sobre mi progreso aprendiendo Astro!</p>

	<ul>
		{allPosts.map(post => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>