---
const { title, color, hoverColor } = Astro.props;
---
<a href=`../tags/${title}`>{title}</a>

<style define:vars={{color, hoverColor}}>
  a {
    padding: 5px 15px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background: var(--color);
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: background ease .4s;
  }

  a:hover {
    background: var(--hoverColor);
  }
</style>